@media (max-width: 600px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block: 16px;
    }

    .header__line {
        display: block;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1001;
    }

    .burger span {
        display: block;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 3px;
    }


    .planets_mobile_choise {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: #070724;
        margin-top: 86px;
        flex-direction: column;
        transform: translateX(-100%);
        z-index: 100;
    }

    .planets_mobile_choise.open {
        transform: translateX(0);
    }

    .nav__list {
        flex-direction: column;
        gap: 0;
    }

    .planets_mobile_choise li button {
        display: flex;
        gap: 25px;
        padding-block: 20px;
        margin-left: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
        width: 319px;
        /* width: 100%; */
    }

    .planets_mobile_choise li button::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color);
    }

    .planets_mobile_choise li button::after {
        content: url("../images/icon_for_mb_menu.png");
        margin-left: auto;
        padding-right: 8px;
    }

    main {
        padding-bottom: 28px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        width: 100%;
        padding-inline: 16px;
        margin-top: 24px;
    }

    .menu-number {
        display: none;
    }


    .menu-item {
        border: none;
        width: auto;
        height: auto;
        padding: 8px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        background: transparent;

    }


      .menu-item.active {
    background: transparent;
    border-bottom: 4px solid var(--active-color);
    padding-top: 4px;
  }
 

    .planets_img {
        max-width: 256px;
    }

    .planets_text {
        align-items: center;
        padding-top: 41px;
    }

    .stats {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .stat-item {
        max-width: 327px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 23px;
        height: 48px;

        .stat-value {
            font-size: 20px;
            line-height: 26px;
            text-align: right;
            letter-spacing: -0.75px;


        }

        h3 {
            font-weight: 700;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.727273px;
            text-transform: uppercase;

        }
    }

    .active_nav{
        border-top: none;
        border-left:  4px solid var(--active-color);
        padding-left: 5px;
    }
.no-scroll {
    overflow: hidden;
}



}

